
{% load cards_tags %}


<nav>
    <ul>
        {% if user.is_authenticated %}
            <li>Welcome, {{ user.username }}!</li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
    </ul>
    <form method="GET" action="">
        <label for="topic">Filter by Topic:</label>
        <select name="topic" id="topic">
            <option value="">All Topics</option> <!-- Default to show all topics -->
            {% for topic in topics %}
                <option value="{{ topic.id }}" {% if request.GET.topic == topic.id|stringformat:"s" %}selected{% endif %}>
                    {{ topic.name }}
                </option>
            {% endfor %}
        </select>
        <button type="submit">Filter</button>
    </form>
    <a href="{% url 'card-list' %}">🗂 All Cards</a>

    {% boxes_as_links %}

</nav>